@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
}
header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  align-items: center;
}
header .search {
  position: relative;
}
.search .fa {
  position: absolute;
  top: 0.4rem;
  left: 10rem;
}
.search input {
  border-radius: 12px;
  border: none;
  padding: 7px 7px;
  background-color: #e5e6ec;
  font-weight: bold;
}
.gradientBackgroundMain {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(173, 163, 247);
  background: linear-gradient(
    90deg,
    rgba(173, 163, 247, 1) 0%,
    rgba(178, 235, 240, 1) 100%
  );
}
.gradientBackgroundMain .profile-info {
  background-color: white;
  max-width: 18rem;
  max-height: 10rem;
  display: flex;
  flex-direction: column;
}
main .profile-info img {
  max-width: 30%;
  border-radius: 50%;
}
main .profile-info .pic-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .profile-info .pic-name h2 {
  font-size: 100%;
}
main .profile-info .user-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #f6f7fd;
}
main .profile-info .actions {
  display: flex;
  align-items: column;
}
main .profile-info .action-number {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .profile-info .action-number p {
  margin: 3px;
  font-size: 12px;
  color: #a2a4af;
  font-weight: bold;
}
main .profile-info .action-number .num {
  font-size: 13px;
  color: #69c5db;
}
main .profile-info button {
  color: #69c5db;
  border: 2px solid #69c5db;
  background-color: #f6f7fd;
  border-radius: 15px;
  padding: 5px;
  font-weight: bold;
}
main .posts {
  max-width: 55rem;
}
main .posts header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #f6f7fd;
}
main .posts header img {
  max-width: 5%;
  border-radius: 50%;
}
main .posts header .post {
  width: 25rem;
  color: #69c5db;
}
.post .fa {
  position: absolute;
  top: 0.4rem;
  left: 23rem;
}
.posts{
    margin-left: 10px;
}
.gradientBackgroundMain main .posts header input {
  margin-left: 20px;
  width: 100%;
  color: #69c5db;
  box-shadow: 0px 0px 5px 1px lightgray;
  background-color: white;
}
.gradientBackgroundMain main .user-post {
  display: flex;
  display: row;
  background-color: white;
}
.user-post {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:10px;
    border-top: 2px solid lightgray;
}

.user-post img{
   width: 7%;
   height: 7%;
   border-radius: 50%;
   margin:0 3%;
}
.user-post div{
    max-width: 70%;
}
.user-post .fa-times{
    position: absolute;
    top: 3%;
    right: 2%;
}
.user-post div .name{
    font-weight: bold;
}
.user-post div span{
    color: gray;
}
.user-post div .fa-circle{
    font-size: 1%;
    vertical-align: middle;
}
.user-post .likes button{
    border:none;
    background-color: white;
    font-size: 16px;
    margin: 1%;
}
